@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
	height: 100vh;
	font-family: 'Poppins' sans-serif;
	font-size: 12vw;
	text-transform: uppercase;
	overflow: hidden;
	background: linear-gradient(135deg, #FFD700, #FF69B4, #87CEEB);
	background-size: 200% 200%;
	animation: gradientAnimation 10s ease infinite;
  }
  @keyframes gradientAnimation {
	0% {
	  background-position: 0% 50%;
	}
  }
.disappear{
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	width: 100%;
	text-align: center;
	height: fit-content;
	bottom: 0;
	top: 0;
}
.disappear span{
	display: inline-block;
	color: transparent;
	text-shadow: 0px 0px 0px rgb(255, 255, 255);
	animation-duration: 8s;
	animation-iteration-count: infinite;
}
.disappear span:nth-child(1)
{
	animation-name: disappearleft;
}
.disappear span:nth-child(2)
{
	animation-name: disappearleft;
	animation-delay: .3s;
}

.disappear span:nth-child(2)
{
	animation-name: disappearleft;
	animation-delay: .3s;
}

.disappear span:nth-child(3)
{
	animation-name: disappearleft;
	animation-delay: .6s;
}

.disappear span:nth-child(4)
{
	animation-name: disappearright;
	animation-delay: .8s;
}

.disappear span:nth-child(5)
{
	animation-name: disappearright;
	animation-delay: 1s;
}

.disappear span:nth-child(6)
{
	animation-name: disappearright;
	animation-delay: 1.3s;
}


.disappear span:nth-child(7)
{
	animation-name: disappearleft;
	animation-delay: 1.6s;
}

.disappear span:nth-child(8)
{
	animation-name: disappearright;
	animation-delay: 2s;
}

.disappear span:nth-child(9)
{
	animation-name: disappearright;
	animation-delay: 2.2s;
}
.disappear span:nth-child(10)
{
	animation-name: disappearright;
	animation-delay: 2.4s;
}
.disappear span:nth-child(11)
{
	animation-name: disappearright;
	animation-delay: 2.6s;
}
.disappear span:nth-child(12)
{
	animation-name: disappearright;
	animation-delay: 2.8s;
}
.disappear span:nth-child(13)
{
	animation-name: disappearright;
	animation-delay: 3s;
}
.disappear span:nth-child(14)
{
	animation-name: disappearright;
	animation-delay: 3.2s;
}
.disappear span:nth-child(15)
{
	animation-name: disappearright;
	animation-delay: 3.4s;
}
.disappear span:nth-child(16)
{
	animation-name: disappearright;
	animation-delay: 3.6s;
}
.disappear span:nth-child(17)
{
	animation-name: disappearright;
	animation-delay: 3.8s;
}
.disappear span:nth-child(18)
{
	animation-name: disappearright;
	animation-delay: 4s;
}
.disappear span:nth-child(19)
{
	animation-name: disappearright;
	animation-delay: 4.2s;
}
.disappear span:nth-child(20)
{
	animation-name: disappearright;
	animation-delay: 4.4s;
}
.disappear span:nth-child(21)
{
	animation-name: disappearright;
	animation-delay: 4.6s;
}
.disappear span:nth-child(22)
{
	animation-name: disappearright;
	animation-delay: 4.8s;
}
.disappear span:nth-child(23)
{
	animation-name: disappearright;
	animation-delay: 5.9s;
}

@keyframes disappearleft{
	50%{
		transform: skew(50deg) translateY(-200%);
		text-shadow: 0px 0px 50px;
		opacity: 0;
	}
}
@keyframes disappearright{
	50%{
		transform: skew(-50deg) translateY(-200%);
		text-shadow: 0px 0px 50px;
		opacity: 0;
	}
}
